body {
    font-family: 'Roboto', sans-serif;
    color: #495057 !important;
    /* background-color:  */
}

.shipping {
    width: 80%;
    margin: auto;
    text-align: center;
}

.shipping img {
    margin: auto;
    min-width: 150px;
    width: 50%;
    text-align: center;
}

.bground {
    position: relative;
}

.bground:before {
    min-height: 800px;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background-image: url("./assets/sst.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.sstlogo {
    /* position: relative; */
    /* top: 0; 
    bottom: 0;
    left: 0;
    right: 0; */
    /* height: 50px; */
    margin: auto;
    opacity: .70;
    /* z-index: 4; */
}

.sstlogo img {
    /* position: absolute; */
    /* padding: 10%; */
    /* top: 10%; */
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0; */
    min-width: 350px;
    width: 35%;
    /* margin: auto; */
    /* opacity: 80%; */
    /* z-index: 1; */
}




.googlemap {
    width: 80%;
    height: 400px;
    margin: auto;
    display: block;
}

/* .contact-left {
    padding-left: 10%;
    width: 30%;
    vertical-align: top;
    display: inline-block;
}

.d-flex {
    width: 80%;
    margin: auto;
    display: block;
} 

.flex-fill {
    width: 80%;
    margin: auto;
    display: block;
} 

.contact {
    width: 80%;
    margin: auto;
    display: block;
}

.contact-right {
    padding-left: 5%;
    vertical-align: top;
    width: 50%;
    display: inline-block;
} */

.about {
    width: 80%;
    margin: auto !important;
    text-align: center;
}

.aboutcenter {
    margin: auto !important;
}

.aboutcenter img {
    width: 100%;
    margin: auto !important;
}

.card {
    vertical-align: top;
    width: 300px;
    margin: 5px;
    display: inline-block;
}
